@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
code,
b {
  color: #fff !important;
}

p,
li {
  font-size: 16px;
}

li {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.hljs {
  background: transparent !important;
}

a:hover {
  color: (255, 255, 255, 0.5) !important;
}
body {
  min-height: 100vh;
  background-color: #18181b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
